memos.txt
__pycache__/
archive/
.ipynb_checkpoints/
scripts/evaluate.sh
master_files/all_corpora_edit_log.txt
master_files/extraction_debug.log
scripts/tok_out.py
scripts/correction.py
scripts/xml_extraction.py
