memos.txt
__pycache__/
archive/

#to be updated once finalized
untitled.txt
.ipynb_checkpoints/
scripts/clean_verbose.py
output/eval/llama
scripts/normEval.py
scripts/evaluate.sh
scripts/baseline.py
scripts/convert_to_norm.py
scripts/lai.py
scripts/train.tgt
scripts/w_acc.py
sets/train.norm
sets/test.norm
sets/train_indices.txt
sets/test_indices.txt
sets/dev_indices.txt
scripts/idx_lookup.py
scripts/TEST_xml.py
scripts/tag_lookup.py
scripts/my_results.log
scripts/Untitled-1.ipynb
processed_data/all_corpora_edit_log.txt
processed_data/extraction_debug.log
